@import "tailwindcss";



body {
  background: #0f172a; 
  background: radial-gradient(circle at top left, #1e1b4b, #312e81, #0f172a);
  background-attachment: fixed;
  overflow-x: hidden;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceIn {
  0% { opacity: 0; transform: scale(0.3); }
  /* 50% { opacity: 1; transform: scale(1.05); }
  70% { transform: scale(0.9); } */
  100% { opacity: 1; transform: scale(1); }
}

.animate-fade-in-down {
  animation: fadeInDown 0.6s ease-out;
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out;
}

.animate-bounce-in {
  animation: bounceIn 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}